# Folders
.vs/
build/
publish/

SimpleAVSGenerator/bin/
SimpleAVSGenerator/obj/

SimpleAVSGenerator.Core/bin/
SimpleAVSGenerator.Core/obj/

SimpleAVSGenerator.Core.Tests/bin
SimpleAVSGenerator.Core.Tests/obj

# File extensions
*.exe
*.user

# Files
dotnet-publish.cmd
