# Folders
.vs/
build/
publish/

Simple AVS Generator/bin/
Simple AVS Generator/obj/

Simple AVS Generator.Core/bin/
Simple AVS Generator.Core/obj/

Simple AVS Generator.Core.Tests/bin
Simple AVS Generator.Core.Tests/obj

# File extensions
*.exe
*.user

# Files
dotnet-publish.cmd
