# Folders
.vs/
.vscode/
build/
publish/

SimpleAVSGenerator/bin/
SimpleAVSGenerator/obj/

SimpleAVSGeneratorCore/bin/
SimpleAVSGeneratorCore/obj/

SimpleAVSGeneratorCore.Tests/bin/
SimpleAVSGeneratorCore.Tests/obj/

# File extensions
*.exe
*.user

# Files
dotnet-publish.cmd
